body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.section {
    border: 1px solid #000; /* Ligne de séparation pour mieux voir les sections */
}

.top-left {
    background-color: #fff;
}

#globe-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
